<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.hannam.multi.cricket.mapper.CarModelsMapper">
    <select id="selectAllModels" parameterType= "CarModelsVO">
        SELECT
            MODEL_ID,
            BRAND_ID,
            MODEL_NAME
        FROM CAR_MODELS
        ORDER BY MODEL_ID
    </select>

</mapper>