<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.hannam.multi.cricket.common.mapper.FavoriteMapper">

    <insert id="insertFavorite" parameterType="kr.ac.hannam.multi.cricket.vo.FavoriteVO">
        INSERT INTO favorite (user_no, car_id, created_at)
        VALUES (#{userId}, #{carId}, NOW())
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM favorite
        WHERE user_no = #{userId} AND car_id = #{carId}
    </delete>

    <select id="findFavoritesByUserId" resultType="kr.ac.hannam.multi.cricket.vo.FavoriteVO">
        SELECT favorite_id, user_no, car_id, created_at
        FROM favorite
        WHERE user_no = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="countByUserIdAndCarId" resultType="int">
        SELECT COUNT(*)
        FROM favorite
        WHERE user_no = #{userNo} AND car_id = #{carId}
    </select>

</mapper>
